*{
margin: 0;
padding: o;
box-sizing: border-box;
}
.header{
    padding: 50px 0;
    box-sizing: border-box;
    border: 1px solid #bcaaaa;
    box-shadow: 0px 4px 8.7px 0px black;
    background-color: white;
}
.container{
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}
.header__nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 64px;
    list-style: none;
}
.header__item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__link{
    color: rgb(188, 170, 170);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    transition: 0.5s ease-in-out;
    border-bottom: 3px solid transparent;
}
.header__wrapper{
    display: flex;
    align-items: center;
    gap: 52px;
}
.header__btn{
    width: 220px;
    box-sizing: border-box;
    border: 3px solid #ef400f;
    border-radius: 20px;
    background-color: black;
    padding: 15px 0;
    color: rgb(239, 64, 15);
    font-family: "inter";
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    transition: 0.5s ease-in-out;
}
.header__link:hover{
    color: #ef400f;
    border-bottom: 3px solid #ef400f;
}
.header__btn:hover{
    background-color: #ef400f;
    color: white;
}
.hero{
    padding: 70px 0;
    
}
.hero__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 130px;
}
.hero__left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero__right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero__shop{
    color: darkblue;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}
.hero__title{
    color: #ef400f;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
}
.div{
    align-items: center;
    flex-wrap: wrap;
background-color: rgb(255, 255, 255);
display: flex;

}
body{
    background-color: rgb(255, 255, 255);
}

